@charset "utf-8";

body {
    font: normal 13pt Arial;
    padding: 30px;
    margin: 0px;
    color: #353535;
    transition: background-color 4s;
    transition-timing-function: ease-out;
}

header, footer {
    text-align: center;
    color: #fafafa;
    margin: 30px;
}

/*header {

}*/

section {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
}

section div {
    text-align: center;
    font: bold 14pt Arial;
    padding: 10px;
}

footer {
    font-style: italic;
}